.sidenav-container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.nav-icon{
    font-size: 36px;
    height: 36px;
    width: 36px;
}

.nav-item{
    height: 170px;
}

.sidenav{
    width: 250px;
}
.sidenav-collapse{
    width: 63px;
}

.nav-text{
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
}